node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log

*.tsbuildinfo
coverage
